/*================ General layout styles ================*/
body,
html {
  background-color: $color-body;
  cursor: url('https://cdn.shopify.com/s/files/1/2140/7529/files/middle-finger.png?8477439657080604170'), default;
  overflow-x:hidden;
}

a {
  cursor: url('https://cdn.shopify.com/s/files/1/2140/7529/files/ctm-smile_1.svg?17026608095994548427'), default;
}

.page-width {
  @include clearfix();
  max-width: $width-site;
  padding: 0 $gutter;
  margin: 0 auto;
}

.marquee {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
    font-size: .9em;
    background: #faec31;
    padding: .5em 0;
    margin: 0;
    border: 0;
    left: 0;

    span {
    margin:0 3em;
    }
}


.container {
	max-width: 68em;
display: grid;
margin: 0 auto;
    margin-top: 0px;
grid-column-gap: 2rem;
    grid-row-gap: 2rem;
grid-template-columns: repeat(auto-fit,minmax(200px,2fr));
padding: 0 2.225em;

&.home {
grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;

  .shop-all--button {
      grid-column: 1/3;
    text-align: center;

    a {
    padding: 8px 12px;
    border: 2px solid #FAEC32;
    }
  }
  
}

&.page {
grid-template-columns: 1fr;
  grid-column-gap: 2rem;
    grid-row-gap: 0;
}

&.product {
grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
    grid-row-gap: 0;
}


.collection-item p {
  font-size:.8em;
  text-transform:uppercase;
  text-align:center;
  margin:0;
  line-height:1.4;
}
}

.col-right {
  
  justify-self:right;
}

.sold-out {
  background:yellow;
  border:none;
}


.loading {
  text-align: center;
    margin: 5em 0;

     button {
    padding: 8px 12px;
    border: 2px solid #FAEC32;
    }
}