/*================ Site Header ================*/
header li, footer li {
  list-style:none;
}

.search-form {
    display:none;
    padding:4em 0;
    background:yellow;

    form {
        max-width: 440px;
    margin: 0 auto;

    .btn {
    background:transparent;
    }

    input {
        min-width: 400px;
        background:transparent;
        border:0;
        border-bottom: 1px solid #000;
        outline:none;
        line-height:2;
    }
    }

    .close-search {
    position:absolute;
    top: 40px;
    right: 10px;
    border: 0;
    outline:none;
    background:transparent;
    }
}

.search-button {
    border:0;
    outline:none;
  cursor: url('https://cdn.shopify.com/s/files/1/2140/7529/files/ctm-smile_1.svg?1734297959750535764'), default;
}

.about-modal {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 20%;
    left: 30%;
    right: 0;
    bottom: 0;
    background-color: transparent; 
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */

}


header {

margin: 2.5em 0;

	.container {
	margin: 0 auto;
    width: 90%;
    display: grid;
    grid-column-gap: 2rem;
    margin: 0 auto;
    grid-gap: 20px;
    max-width: 68em;
    grid-template-columns: 1fr 2fr 1fr ;
    
    .center-logo {
    justify-self:center;

    svg {
        max-width: 110px;
    margin: 0 auto 2em;
    display: block;
    }

    ul {
        display: grid;
    grid-template-columns: 1fr 1fr 1fr ; 
    padding: 0;
    grid-gap: 15px;

    }

    ul.site-nav__submenu {
    display:none;

    .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-self:center;
    text-align:center;
    }

    }
    }
}

.site-nav__submenu {
    position: absolute;
    top: 255px;
    margin: 0;
    left: 0;
    padding: 20px 0;
    display: none;
    width: 100%;
    background-color: #fff;
    justify-content: center;
    overflow-x: hidden;
    z-index: 10;
    text-align: left;
    grid-template-columns: 100px 100px 100px 100px;

    li {
    display: block;
    font-weight: bold;
    margin: .5em 0px 1em;
    font-size: 1.5em;
}


}



}
