/*================ Site Header ================*/
header li, footer li {
  list-style:none;
}

header {
    z-index:10;
    position:relative;
}

.search-form {
    display:none;
    padding:4em 0;
    background:yellow;
        z-index: 1;
    position: relative;
    form {
        max-width: 440px;
    margin: 0 auto;

    .btn {
    background:transparent;
    }

    input {
        min-width: 400px;
        background:transparent;
        border:0;
        border-bottom: 1px solid #000;
        outline:none;
        line-height:2;
    }
    }

    .close-search {
    position:absolute;
    top: 40px;
    right: 10px;
    border: 0;
    outline:none;
    background:transparent;
    }
}

.search-button {
    border:0;
    outline:none;

  background:transparent;
   @media screen and (max-width: 800px) {
display:none;

   
    
}
}

.about-modal {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 20%;
    left: 30%;
    right: 0;
    bottom: 0;
    background-color: transparent; 
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */

}


header {

margin: 2.5em 0 .5em;


       @media screen and (max-width: 800px) {
  margin: 2.5em 0 0;
   
}

	.container {
	margin: 0 auto;
    width: 90%;
    display: grid;
    grid-column-gap: 2rem;
    margin: 0 auto;
    grid-gap: 20px;
    max-width: 68em;
    grid-template-columns: 1fr 2fr 1fr ;
    
    .center-logo {
    justify-self:center;
        padding: 10px;
        width:100%;
    svg {
        max-width: 110px;
    margin: 0 auto 2em;
    display: block;
    }

    ul {
        display: grid;
    grid-template-columns: 1fr 1fr 1fr ; 
    padding: 0;
    grid-gap: 15px;

    }

    ul.site-nav__submenu {
    display:none;

    .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-self:center;
    text-align:center;
    }

    }
    }
}

.site-nav__submenu {
    position: absolute;
    top: 255px;
    margin: 0;
    left: 0;
    padding: 20px 0;
    display: none;
    width: 100%;
    background-color: #fff;
    justify-content: center;
    overflow-x: hidden;
    z-index: 10;
    text-align: left;
    grid-template-columns: 100px 100px 100px 100px;

    li {
    display: block;
    font-weight: bold;
    margin: .5em 0px 1em;
    font-size: 1.5em;
}


}

.col-right {
  margin-top:2em;
  justify-self:right;
}




.mobile-nav--button {
  margin-top:2em;

  button {
  background:transparent;
  border:none;
  }
    
}


}




.modal-box.mobile.active {
    left: 0;

    border: 1px solid;
}


.modal-box.mobile {
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    position: fixed;
    z-index: 9999;
    top: 0;
        left: -350px;
    background:white;
    height: 100%;
    width: 350px;
overflow-y:scroll;

button {
    background:transparent;
    border:none;

     position: absolute;
    right: 30px;
    top: 22px;
}




    .menu {
        width: 100%;
    height: 100%;
    padding: 31px;

    li {
    margin: 2em 0;
        display: block;


    a {
        display: inline;
    padding: 10px 0;
    position: relative;
   transition: .3s; 

&:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 1px;
    background: #333;
  }
  &:nth-of-type(2):after {
    left: 0;
  }
  &:nth-of-type(3):after {
    right: 0;
    left: auto;
  }

    &:hover {
    &:after {
      width: 100%;
      left: 0;
    }}
    
  
    
    }
    }

    }

 
}

.modal-box.open {
    display:block;

    .menu ul {
    margin:8em 0 0;
    padding:0;
    li {
    text-align:center;
    font-size:1.5em;
    margin:1em 0;
    font-weight:bold;
    }
    }
    }

.close.active {
    position: absolute;
    right: 30px;
    top: 22px;
}
    
.site-nav {
    margin-top:3em;

    &::after{
    
        clear: both;
    content: "";
    display: block;
    }
}

.cart-link__bubble{
    display: none;
    }

    .cart-link__bubble--visible {
    display: block;
    position: absolute;
    top: -18px;
    right: -2px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
}
 
.cart-link__bubble--visible {
    background-color: yellow;
    width: 15px;
    height: 15px;
    padding-top: 1px;
    margin: 0;
    font-size:12px;
    text-align:center;
}


.cart-link {
    position:relative;
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #000000;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}



.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

