<!-- Flickity HTML init -->
<div class="carousel" data-flickity>
  <div class="carousel-cell"><img src="https://cdn.shopify.com/s/files/1/2140/7529/files/143-chinatown-market-collab-1.jpg?8538994612734909610"></div>
  <div class="carousel-cell"><img src="https://cdn.shopify.com/s/files/1/2140/7529/files/143-chinatown-market-collab-2.jpg?8538994612734909610"></div>
  <div class="carousel-cell"><img src="https://cdn.shopify.com/s/files/1/2140/7529/files/143-chinatown-market-collab-3.jpg?8538994612734909610"></div>
   <div class="carousel-cell"><img src="https://cdn.shopify.com/s/files/1/2140/7529/files/143-chinatown-market-collab-1.jpg?8538994612734909610"></div>
</div>
{% schema %}
  {
    "name": "Carousel",
   
    "presets": [
      {
        "name": "Carousel",
        "category": "Carousel"
      }
    ]
  }

{% endschema %}
