
<video poster="https://s3-us-west-2.amazonaws.com/gleight/ML_BG_Still7.jpg" playsinline autoplay muted loop>
<source src="https://s3-us-west-2.amazonaws.com/gleight/624097357.mp4" type="video/mp4" media="all and (max-width: 480px)"> 

<source src=" https://s3-us-west-2.amazonaws.com/gleight/GL_BG_WM.webm">
<source src="https://s3-us-west-2.amazonaws.com/gleight/624097357.mp4" type="video/mp4">
</video>

{%- assign collection = collections[section.settings.collection] -%}
{% for product in collection.products limit: 1 %}
<div class="collaborations ">
  <a href="{{ product.url | within: collection }}">

  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 400 400">
  
  <image id="324_large" xlink:href="https://cdn.shopify.com/s/files/1/2140/7529/files/call-my-lawyer-blue-tee-back_1024x1024_62802f24-c046-40e0-8be5-dc55b089aa40.png?5988723866451707786"></image>
  <defs>
    <!-- The text path: see links above regarding coordinate system -->
    <path d="M0, 200a200, 200 0 1, 0 400, 0a200, 200 0 1, 0 -400, 0" id="txt-path"></path>
  </defs>

  <text class="text-animate" fill="#000000" font-size="25.5" font-family="Helvetica Neue" font-weight="600" data-svg-origin="199.9765625 200" style="transform: matrix3d(0.693653, 0.720309, 0, 0, -0.720309, 0.693653, 0, 0, 0, 0, 1, 0, 205.324, -82.7756, 0, 1); transform-origin: 0px 0px 0px;">
    <!-- This is the magic -->
    <textPath startOffset="0" xlink:href="#txt-path">DON'T WASTE MY TIME, JUST CALL MY LAWYER

DON'T WASTE MY TIME, JUST CALL MY LAWYER

</textPath>
  </text>
</svg>
</a>



</div>
{% endfor %}







{% schema %}
  {
    "name": "Collab",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collab"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Collab",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
