

{%- assign collection = collections[section.settings.collection] -%}

<div>
  <a href="{{ collection.url  }}">

      {{ collection.image.src | img_url: '480x480' | img_tag: product.title }}

    <p>{{ collection.title }}</p>
  </a>



</div>
{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }

{% endschema %}


