<video poster="https://s3-us-west-2.amazonaws.com/gleight/ML_BG_Still7.jpg" playsinline autoplay muted loop>
<source src="https://s3-us-west-2.amazonaws.com/gleight/624097357.mp4" type="video/mp4" media="all and (max-width: 480px)"> 

<source src=" https://s3-us-west-2.amazonaws.com/gleight/GL_BG_WM.webm">
<source src="https://s3-us-west-2.amazonaws.com/gleight/624097357.mp4" type="video/mp4">
</video>

<div class="shop-all--button">
<a href="/collections/all" class="cart">Shop All Collections </a>
</div>

{% schema %}
  {
    "name": "Video",
   
    "presets": [
      {
        "name": "Video",
        "category": "Video"
      }
    ]
  }

{% endschema %}
